<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/element.css">
</head>
<body>
    <div class="bg">
        <img src="img.jpg">
        <div class="main">
          <div class="headline"><h1>contact page</h1></div>
          <div class="info">
            <form method="Post" action="/login" >
            <lable>Name</label><span><input type="text" name="name" id="name"></span>
            <lable>Gmail</lable><span><input  type="gmail" name="gmail" id="gmail"></span>
            <label>Password</label><span><input type="password" name="password" id="password"></span>
           
           <button type="submit" name="submit">Submit</button>
 </form>
          </div>

        </div>

    </div>
    
</body>
</html>